.experiencia {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    align-items: center;
}

.experiencia .experiencia-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-experiencia-content {
    max-width: 50ch;
}

.experiencia .experiencia-content .experiencia-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 30px;
    position: relative;
    border-radius: 4px;
}

.experiencia .experiencia-content .experiencia-cards::after {
    content: '';
    width: 4px;
    height: 15px;
    background-color: green;
    display: block;
    position: absolute;
    top: 15px;
    left: -4px;
    border-radius: 4px;
    transition: 0.8s;
}

.experiencia .experiencia-content .experiencia-cards:hover::after {
    height: 35px;
}

.experiencia-cards h3 {
    margin-bottom: 10px;
}

.experiencia-cards span {
    position: absolute;
    top: 10px;
    left: -70px;
}

.experiencia-cards .skills-card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.experiencia-cards .skills-card li {
    background-color: var(--white-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}


@media (max-width: 1000px) {
    .experiencia {
        grid-template-columns: 1fr;
    }
}
