.experiencia {
    border: 1px solid red;
}

.h2-experiencia {
    font-size: 7.5rem;
    color: gray;
}

.info-container {
    display: grid;
    gap: 30px;
}

.info-container .text-info-experiencia {
    font-size: 1.2rem;
    line-height: 1.3;
    color: rgb(47, 44, 44);
}

.info-container .exp-content {
    background-color: rgb(247, 241, 241);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 4px ;
}

.info-container .exp-content span {
    font-size: 0.8rem;
    display: inline-block;
    padding: 8px 10px;
    margin: 2px;
    background-color: white;
    border-radius: 4px;
}