/* Reset CSS */

/* Remove default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Set default font family and size */
body {
    scroll-behavior: smooth;
    font-family: 'poppins', 'arial';
  }

  /* Remove default list styles */
ul, ol{
    list-style: none ; 
  }

  /* Remove default underline from links */
a {
    text-decoration: none;
    color: inherit;
}

  /* Reset images and media */
img, video {
    max-width: 100%;
    min-width: 150px;
    height: auto;
}

  /* Normalize form elements */
button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
} 

.subtitulo {
  font-size: 9rem;
  width: 4ch;
  word-break: break-all;
  line-height: 1.1;
  text-transform: uppercase;
  color: gray;
}

@media (max-width: 1000px) {
  .subtitulo {
    font-size:4rem;
    width: fit-content;
    text-transform:capitalize;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 1200px;
    padding: 60px 20px;
  } 
}


