/* Reset CSS */

/* Remove default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    scroll-behavior: smooth;
  }

  /* Remove default list styles */
ul, ol{
    list-style: none ; 
  }

  /* Remove default underline from links */
a {
    text-decoration: none;
  }

  /* Reset images and media */
img, video {
    max-width: 100%;
    height: auto;
  }

  /* Normalize form elements */
  button, input, textarea, select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
  }

  .container {
    max-width: 1200px;
    height: fit-content;
    padding: 60px 0;
    margin: 0 auto;
  }
