/* Reset CSS */

/* Remove default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    scroll-behavior: smooth;
  }

  /* Remove default list styles */
ul, ol{
    list-style: none ; 
  }

  /* Remove default underline from links */
a {
    text-decoration: none;
}

  /* Reset images and media */
img, video {
    max-width: 100%;
    height: auto;
}

  /* Normalize form elements */
button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
} 

@media (max-width: 500px) {
  .container {
    max-width: 1200px;
    padding: 60px 20px;
  } 
}

.subtitulo {
  font-size: 9rem;
  width: 4ch;
  word-break: break-all;
  line-height: 1.1;
  text-transform: uppercase;
}

:root {
  --black-color: #000000;
  --white-color: #fff;
  --bg-color: rgb(255, 255, 255);
  --p-color:#333;
}
