.header {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.75rem;
}

.nav-container {
    display: flex;
    gap: 1.25rem;
}

.nav-container a {
    border-bottom: 2px solid transparent;
    padding: 0.5rem 1rem;
    color:black;
}

.nav-container a:hover {
    border-bottom: 2px solid black;
    transition: 0.7s;
}