.header-bg {
    background-color: var(--bg-color);
    border: 1px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.nav-content a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: var(--black-color);
    padding: 10px 0;
    position: relative;
}

.nav-content a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--black-color);
    position: absolute;
    transition: 0.5s;
}

.nav-content a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .nav-content a {
        font-size: 16px;
        padding: 7px 14px;
        background-color: var(--black-color);
        border-radius: 4px;
        color: var(--white-color);
    }
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        border: 1px solid red;
        gap: 20px;
    }

    .nav-content a {
        font-size: 14px;
        padding: 7px 14px;
        background-color: var(--black-color);
    }

    .nav-content {
        justify-content: center;
    }
}
