.header-bg {
    position: fixed;    
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo-photo {
    padding-right: 15px;
}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.nav-content a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
}

.nav-content a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--black-color);
    position: absolute;
    transition: 0.5s;
}

.nav-content a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .nav-content a {
        padding: 7px 14px;
        background-color: var(--black-color);
        border-radius: 4px;
        color: var(--white-color);
    }
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .nav-content {
        justify-content: center;
    }

    .logo-photo {
        padding-right: 0;
    }
}
