.introducao-bg {
    border: 1px solid red;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
}

.main .personal-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.main .personal-main h1 {
    font-size: 4.5rem;
    line-height: 1.1;
}

.main .personal-main p {
    font-size: 24px;
    color: var(--p-color);
}



@media (max-width: 800px) {

    .main .personal-main {
        gap: 10px;
    }
    .main .personal-main h1 {
        font-size: 3rem;
    }

    .main .personal-main p {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .main {
        grid-template-columns: 1fr;
        place-items: center;
    }
    .personal-photo {
        display: none;
    }
    .main .personal-main h1 {
        font-size: 2rem;
        text-align: center;
    }
    .main .personal-main p {
        font-size: 16px;
    }
}