.introducao-bg {
    padding-top: 100px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
}

.main .personal-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.personal-photo img {
    border-radius: 50%;
}



@media (max-width: 800px) {

    .main .personal-main {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .main {
        grid-template-columns: 1fr;
        place-items: center;
    }
    .personal-photo {
        display: none;
    }
}